<html>
    <head>
            <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Welcome to Listifi!</h1>
        First we need you to log into Spotify

        <a href="https://accounts.spotify.com/en/authorize?client_id=f5e9ea13aa4448af8db66232ee23ff0e&response_type=code&redirect_uri=http://localhost:8000/spotify/listifi/listifi/Templates/Entry.html&scope=playlist-modify-public%20playlist-modify-private" class="btn btn-success">Login Here</a>

    </body>
</html>